body { 
  font-family: Arial, sans-serif;
  background-color: #fdf4ee;
  color: #333;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#logo img {
  width: 3.425rem; 
}

#call-to-action {
  background-color: #090909;
  color: #FFF7F0;
  padding: 0.8rem 2.8rem; 
  border-radius: 50rem; 
}

#her {
  text-align: center;
}

#her h1 {
  font-size: 3rem;
  margin-bottom: 1.25rem; 
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 1.25rem; 
  margin-top: 1.25rem; 
  flex-wrap: wrap;
}

.image-container a {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.625rem; 
  width: 22.125rem; 
  height: 22.75rem; 
  padding: 1px;
}

/*colores tarjetas*/
.card {
  background-color: #9459b4;
}

.illustrations {
  background-color: #f28b64; 
}

.photography {
  background-color: #68c3c6; 
}

.image1 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 8rem; 
  height: 10rem; 
}

.image2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10rem; 
  height: 8rem; 
}

.image3 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 8rem; 
  height: 10rem; 
}

.profile-section {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px; 
  padding: 10px; 
  margin-top: 2.5rem; 
}

.profile-section2 {
  position: absolute;
}

.profile-pic {
  width: 27rem; 
  height: 27rem; 
  border-radius: 50%;
  background-color: #68c3c6;
  background-size: cover; 
  background-position: center;
  position: relative; 
  background-image: 
  url('./img/illustration-illustrations.png'), 
  url('./img/illustration-photography.png');
background-size: 200px 100px, 90px 100px; 
background-position: 0% 0%, 100% 60%; 
background-repeat: no-repeat, no-repeat; 
}


.profile {
  flex: 2.1rem; 
  justify-content: center;
}

.profile-info { 
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  text-align: left;
  gap: 0.625rem; 
  max-width: 25rem; 
}

.button {
  display: inline-flex;
  padding: 0.6rem 1.2rem; 
  background: #f87266;
  color: #f9f2f2;
  border-radius: 500px; 
}

/*  tablets */
@media (min-width: 768px) and (max-width: 1024px) {
  
  #her h1 {
    font-size: 2.5rem;
  }

  .image-container a {
    width: 18rem;
    height: 18rem;
  }

  .profile-info {
    max-width: 20rem;
    margin: auto;
  }

  .button {
    padding: 0.5rem 1rem;
  }
}

/* Ecelular */
@media (max-width: 767px) {

#logo img {
  width: 3rem;
}

#call-to-action {
  padding: 0.5rem 1.5rem;
  font-size: 0.87rem;
}

#her h1 {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.image-container {
  gap: 0.6rem;
}

.image-container a { 
  width: 19rem;
  height: 17rem;
  }
}




