:root {
  /* var globales */
  --font-color: #333;
  --background-color: #fdf4ee;
  --button-bg-color: #030303;
  --button-text-color: #FFF7F0;
  --card-bg-color-1: #755CDE;
  --card-bg-color-2: #EB7565;
  --card-bg-color-3: #61C4B7;
  --profile-pic-bg-color: #68c3c6;

  --logo-size: 3.4rem;
  --button-padding: 0.8rem 2.8rem;
  --button-border-radius: 50rem;
  --profile-pic-size: 27rem;

  --gap: 1.25rem;

  --font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--font-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#logo img {
  width: var(--logo-size); 
}

#call-to-action {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: var(--button-padding); 
  border-radius: var(--button-border-radius); 
}

#her {
  text-align: center;
}

#her h1 {
  font-size: 3rem;
  margin-bottom: var(--gap); 
}

.image-container {
  display: flex;
  justify-content: center;
  gap: var(--gap); 
  margin-top: var(--gap); 
  flex-wrap: wrap;
}

.image-container a {
  position: relative; 
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 0.625rem; 
  width: 22rem; 
  height: 22rem; 
  padding: 1px;
}

/* Colores tarjetas */
.card {
  background-color: var(--card-bg-color-1);
  text-align: left;
}

.illustrations {
  background-color: var(--card-bg-color-2); 
  text-align: left;
}

.photography {
  background-color: var(--card-bg-color-3);
  text-align: left;
}

.image1 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto; 
  height: 10rem; 
}

.image2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto; 
  height: 7rem; 
}

.image3 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto; 
  height: 13rem; 
}

.profile-section {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px; 
  padding: 10px; 
  margin-top: 2.5rem; 
}

.profile-section2 {
  position: absolute;
}

.profile-pic {
  width: var(--profile-pic-size); 
  height: var(--profile-pic-size); 
  border-radius: 50%;
  background-color: var(--profile-pic-bg-color);
  background-size: cover; 
  background-position: center;
  position: relative; 
  background-image: 
    url('./img/illustration-illustrations.png'), 
    url('./img/illustration-photography.png');
  background-size: 200px 100px, 90px 100px; 
  background-position: 0% 0%, 100% 60%; 
  background-repeat: no-repeat, no-repeat; 
}

.profile {
  flex: 2.1rem; 
  justify-content: center;
}

.profile-info { 
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  text-align: left;
  gap: 0.625rem; 
  max-width: 25rem; 
}

.button {
  display: inline-flex;
  padding: 0.6rem 1.2rem; 
  background: var(--card-bg-color-2);
  color: var(--button-text-color);
  border-radius: 500px;
  text-decoration: none;
}

.container {
  display: inline-flex;
  align-items: center; 
  height: 300px;
  width: 300px;
  padding: 10;
  margin: 1rem;
}

.call-section {
  display: flex;
  justify-content: space-between; 
  align-items: center;          
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: 20px;
  padding: 2rem;
  margin: 2rem auto;
  max-width: 900px;
}

.text-content2 h2 {
  text-align: left;
  font-size: 1.5rem;
}

.text-content2 p {
  text-align: left;
  justify-content: flex-start;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#logo2 img {
  width: var(--logo-size); 
}

#call-to-action2 {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  padding: var(--button-padding); 
  border-radius: var(--button-border-radius);
  
}

/* Media Queries */
@media (min-width: 768px) and (max-width: 1024px) {
  #her h1 {
    font-size: 2.5rem;
  }

  .image-container a {
    width: 18rem;
    height: 18rem;
  }

  .profile-info {
    max-width: 20rem;
    margin: auto;
  }

  .button {
    padding: 0.5rem 1rem;
  }
}

@media (max-width: 767px) {
  #logo img {
    width: 3rem;
  }

  #call-to-action {
    padding: 0.5rem 1.5rem;
    font-size: 0.87rem;
  }

  #her h1 {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .image-container {
    gap: 0.6rem;
  }

  .image-container a { 
    width: 19rem;
    height: 17rem;
  }
}




